/*Footer Part*/

.footer{
    background-color: white;
    height: auto;
}

.media-heading{
  text-align: right;
}

.showMobile{
    display: none;
  }

@media (max-width: 768px){
  .showMobile{
    display: block;
  }

  .showDesktop{
    display: none;
  }

  .media-heading {
    text-align: left;
  }

  .footer{
    position: relative !important;
  }

  body{
    margin-bottom: 5px !important;
  }
}


/*Content Part*/

body > .container {
    padding: 80px 15px 0 !important;
}

body{ margin-bottom: 175px;}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
}

.well1{
  padding: 15px;
  background-color: #EDEDED;
  border: 1px solid;
  border-radius: 15px;
  text-align: center;
}

.content{
  height: auto;
  overflow: auto;
}

.fa{
  font-size: 20px;
  margin-right: 7px;
  color: #3e3e3e;
}

#day{
  display: inline-block;
}

#day > li{
  text-align: left;
}

.faces-thumb{
  display: inline-block;
  margin: 0px 10px 10px 5px;
  cursor: pointer;
}

.top20{
  margin-top: 30px;
}

.uib-tab{
  cursor: pointer;
}

/*Header Part*/

@media (max-width: 768px){
  .navbar-default .navbar-nav > .active > a{
    border: none !important;
  }

  .navbar-default .navbar-nav>.active>a{
    color: black !important;
  }

  .navbar-default{
    padding-top: 5px !important;
  }
}

.navbar-default{
  background-color: white;
  padding-top: 30px;
}

.navbar-nav > li{
  margin-bottom: -1px;
}

.navbar-brand{
  padding: 0px 10px !important;
}

.navbar-default .navbar-nav > .active > a{
    border-bottom: none !important;
    background-color: white !important;
    border: 1px solid #D6D6D6;
    margin-bottom: -1px;
}

.nav-tabs > li.active > a{
  color: black !important;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


/*Test*/

#sync1 .item{
    padding: 15px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#sync2 .item{
    padding: 10px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
#sync2 .item h1{
  font-size: 18px;
}
#sync2 .synced .item{
}

#sync1 .item img{
  width: auto;
  height: 400px;
}

#sync2 .item img{
  width: auto;
  height: 100px;
}

@media (max-width: 768px){
  #sync1 .item img{
    width: 100%;
    height: auto;
    max-height: 300px;
  }

  #sync2 .item img{
    width: auto;
    height: 100px;
  }

  .about{
    height: auto !important;
    margin-bottom: 10px;
  }
}

.about{
  border: 1px solid black;
  min-height: 300px;
  padding: 15px;
}