.container {
  max-width: 37.5em;
  padding: 0 5em; }

.logo {
  background-color: transparent;
  padding: 25px 0; }

.no-js .logo {
  background-color: #000;
  margin: 0; }

/*=====================================
  Layout: Medium devices
======================================= */
